.page{
    height: 100%;
    display: grid;
    grid-template-rows: 80px 5fr;
}
nav{
    height: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px 15px 5px 15px;
}
main{
    height: calc(100vh - 80px);
}
.LogoSection{
    display: flex;
    align-items: flex-end;
}
img{
    margin-right: 15px;
}
button{
    padding: 3px;
    border-radius: 5px;
    border: 3px solid white;
}
button {
    display: block;
    background-color: unset;
    height: 36px;
    font-size: 20px;
    display: grid;
    place-items: center;
    cursor: pointer;
}
a{
    font-size: 22px;
}
a:focus, a:active, a {
    color: white !important;
}
.ProfileSection{
    display: flex;
    align-items: flex-end;
}