<div class="card">
    <div class="card-body">
        <h3>Snorkel Tags:</h3>
        <h3>@Node.Snorkel?.TagsCommaSeperated</h3>
    </div>
</div>

@code{
    string name;
    string description;
    [Parameter]
    public DescriptionInfoNodeDisplay Node { get; set; }
}
