@inject HttpClient httpClient

<div class="card">
    <div class="card-body">
        <h3>You can find this at:</h3>
        <img src="@base64LocalImage(Node.Snorkel?.Image?.Base64Data)" />
    </div>  
</div>


@code{
    private string base64LocalImage(string base64) => $"data:image/jpg;base64,{base64}";

    [Parameter]
    public ImageNodeDisplay Node { get; set; }

    private List<DetectedObject> detectedObjects;
    private AzureCognitiveServiceRoot coginitiveServicesDetectResult;
    private string base64Local;

    protected override async Task OnInitializedAsync()
    {
        
    }
}