<div class="card">
    <div class="card-body">
        <h3>Description</h3>
    </div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code{
    [Parameter]
    public DescriptionInfoNode Node { get; set; }
}
