<div class="card">
    <div class="card-body">
        <h3>Describe your snorkel</h3>
        <input @bind="description"/>
        <button @onclick="() => AddDescription()">Add Description</button>
    </div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code{
    string description;
    [Parameter]
    public DescriptionInfoNode Node { get; set; }

    public void AddDescription()
    {
        Node.SnorkelInConfiguration.DescriptionInfos.Add(new DescriptionInfo
        {
            Description = description
        });
    }
}
