<div class="card">
    <div class="card-body">
        <h4>Whats the name of your snorkel?</h4>
        <input @bind="name"/>
        <h4>Describe your snorkel</h4>
        <input @bind="description"/>
        <button @onclick="() => AddDescription()">Add Description</button>
    </div>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer Port="port" />
    }
</div>

@code{
    string name;
    string description;
    [Parameter]
    public DescriptionInfoNode Node { get; set; }
    [CascadingParameter]
    public Action UpdateSnorkelComponent { get; set; }
    public void AddDescription()
    {
        Node.SnorkelInConfiguration.DescriptionInfos.Add(new DescriptionInfo
        {
            Description = description
        });
        Node.SnorkelInConfiguration.Name = name;
        description = string.Empty;
        name = string.Empty;
        UpdateSnorkelComponent();
    }
}
