@page "/createsnorkel"
@inject HttpClient httpClient
@inject NavigationManager navigationManager

<div class="CreateSnorkelContainer">
    <div class="TitleSection">
        <h3>Create and configure a new snorkel!</h3>
    </div>
    <div class="SnorkelConfigurationContainer">
        <aside>

        </aside>
        <div class="DiagramContainer" ondragover="event.preventDefault();" dropzone @ondrop="OnDrop">
            <CascadingValue Value="diagram">
                <DiagramCanvas></DiagramCanvas>
            </CascadingValue>
        </div>
    </div>
</div>


@code{
    private Diagram diagram;
    protected override async Task OnInitializedAsync()
    {
        var options = new DiagramOptions
        {
            DeleteKey = "Delete",
            DefaultNodeComponent = null,
            AllowMultiSelection = true,
            AllowPanning = false,
            Zoom = new DiagramZoomOptions
            {
                Enabled = false
            },
            Links = new DiagramLinkOptions
            {
                DefaultColor = "white"
            }
        };
        diagram = new Diagram(options);
        diagram.RegisterModelComponent<ImageNode, ImageComponent>();
        diagram.Nodes.Add(new ImageNode(new Point(300, 300)));
        StateHasChanged();
    }
    
    private void OnDrop()
        {

        }
}
