h1{
    margin: 0;
}
.IndexContainer{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
aside{
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.MapContainer {
    height: 100%;
}