@page "/"
@inject IHttpClientFactory httpClientFactory

<div class="IndexContainer">
    <aside>
        <SnorkelOverview />
    </aside>
    <div class="MapContainer">
        <PinMap Data="@snorkels" PinLongitude="@(x => x.Longitude)" PinLatitude="@(x => x.Lattitude)" PinId="(x => x.Id)">
            <PinTemplate>
                <h4>@context.Name</h4>
                <p></p>
            </PinTemplate>
        </PinMap>
    </div>
</div>

@code{
    private List<Snorkel> snorkels = new List<Snorkel>();
    protected override async Task OnInitializedAsync()
    {
        snorkels = await httpClientFactory.CreateClient("UnauthenticatedHttpClient").GetFromJsonAsync<List<Snorkel>>("/api/snorkel");
    }
}