.SnorkelDetailContainer {
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 50px 1fr;
}
.DiagramContainer{
    height: 100%;
}
button {
    padding: 3px;
    border-radius: 5px;
    border: 3px solid white;
    margin-left: 
}
h2{
    margin: 0;
}
button {
    display: block;
    background-color: unset;
    height: 36px;
    font-size: 20px;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: white;
    margin-left: 150px;
}
.titleSection{
    display: flex;
    align-items: flex-end;
}